@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  margin: 0;
  scroll-behavior: smooth;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  /* background: url(../images/demo-1-bg.jpg) no-repeat;
  min-height: 100%;
  background-size: cover;
  margin: 0;
  position: cover;
  width: 100%;
  background-position: center center;
  z-index: 1; */
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
  background-size: contain;
  backdrop-filter: brightness(50%);
}

.container {
  width: 1140px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.section {
  padding: 60px 0;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  color: #e9e5e5;
}

/* HEADER */

.header a {
  color: #fff;
  text-decoration: none;
  padding: 8px 5px;
  opacity: 0.5;
  margin: 6px auto;
}

.header a:hover {
  color: #fff;
  opacity: 1;
}

.header-navigation {
  color: #ff0000;
  padding: 10px 0;
}

.header-logo {
  float: left;
  margin-right: 150px;
  margin-left: 5px;
  text-transform: uppercase;
  background: #030303;
  border-radius: 8px;
  border: 1px solid #c95e00;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 1px rgba(000, 000, 000, 0.2),
    0px 1px 0px rgba(255, 255, 255, 0.3);
}
.header-logo {
  -webkit-transition: -webkit-transform 0.5s, background-color 1s ease-in 0.5s;
  transition: transform 0.5s, background-color 1s ease-in 0.5s;
}

.header-logo:hover {
  background-color: rgb(30, 0, 255);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.logo {
  position: absolute;
  z-index: 100;
  left: 0;
  margin: -2px 490px;
}

.polling_message {
  color: white;
  float: left;
  margin-right: 15px;
  margin-left: 45px;
}

.view_port {
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: red;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  color: white;
  height: 100%;
  width: 10%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
  -moz-animation: 4s linear 0s infinite alternate move_eye;
  -o-animation: 4s linear 0s infinite alternate move_eye;
  animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -10%;
  }
  to {
    margin-left: 100%;
  }
}
@-moz-keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
@-o-keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}

@-webkit-ke frames logo {
  from {
    -webkit-transform: rotate(0) scale(0.5);
    left: 120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(0.5);
    left: 0;
  }

  to {
    -webkit-transform: rotate(0) scale(1);
  }
}
@keyframes logo {
  from {
    transform: rotate(0) scale(0.5);
    left: 120%;
  }

  50% {
    transform: rotate(-720deg) scale(0.5);
    left: 0;
  }

  to {
    transform: rotate(0) scale(1);
  }
}

.logo {
  -webkit-animation: logo 3s;
  animation: logo 3s;
}

/* wrapper */
.wrapper {
  display: inline-flex;
  padding: 25px 0;
}

.face {
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* MENU */

.menu {
  font-size: 0;
  padding: 10px;
  margin: 0;
  list-style: none;
  padding-left: 350px;
}
.menu a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  padding: 9px 14px;
  background: #030303;
  border-radius: 8px;
  border: 1px solid #c95e00;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 1px rgba(000, 000, 000, 0.2),
    0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-transition: -webkit-transform 0.5s, background-color 1s ease-in 0.5s;
  transition: transform 0.5s, background-color 0.7s ease-in 0.5s;
}

.menu a:hover {
  background-color: red;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.menu-item {
  padding: 5px 5px;
  display: inline-block;
}

.menu-link {
  text-transform: uppercase;
  padding: 0px 15px;
  font-size: 16px;
}

.main- {
  /* background: #fff; */
  position: relative;
  box-shadow: 0 0 5px 0px rgb(184, 8, 8);
}
/* main */
.arrow-wrap {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 625px;
  margin-left: -5em;
  background: rgb(255, 254, 252);
  width: 10em;
  height: 10em;
  padding: 4em 2em;
  border-radius: 50%;
  font-size: 0.4em;
  display: block;
  box-shadow: 0px 0px 5px 0px rgb(169, 4, 4);
}

.arrow {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.arrow:after {
  content: "";
  position: absolute;
  top: -3.2em;
  left: -3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: rgb(250, 3, 3) transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.hint {
  position: relative;
  top: 50px;
  width: 100%;
  left: 0;
  font-size: 2em;
  font-style: italic;
  text-align: center;
  color: #fff;
  opacity: 0;
}

.arrow-wrap:hover .hint {
  opacity: 1;
}

@-webkit-keyframes arrows {
  0% {
    top: 0;
  }
  10% {
    top: 12%;
  }
  20% {
    top: 0;
  }
  30% {
    top: 12%;
  }
  40% {
    top: -12%;
  }
  50% {
    top: 12%;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12%;
  }
  80% {
    top: -12%;
  }
  90% {
    top: 12%;
  }
  100% {
    top: 0;
  }
}

.arrow-wrap .arrow {
  -webkit-animation: arrows 5s 0.4s;
  -webkit-animation-delay: 2.3s;
}

/* INTRO */

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-left {
  width: 30%;
}

.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 90px rgb(255 162 18 / 50%);
}

.intro-right {
  width: 50%;
  padding-top: 80px;
}
.intro-right p {
  color: #fff;
}

/* CONTACTS */

.contacts {
  margin-bottom: 60px;
}
.contacts ul {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  list-style: none;
}

.contacts h4 {
  color: floralwhite;
}

.contacts li,
.contacts a {
  text-align: center;
  color: #00ffff;
}

/* SKILLS */

.skills {
  background-image: url(../images/animation.gif);
  background-color: #808080;
  color: var(--pure-white);
}

.skills ol {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  color: #ffbb00;
  padding-bottom: 50px;
}

.skills li {
  padding: 10px 25px;
  background-color: #999;
  border-radius: 4px;
  background: #030303;
  border-radius: 30px;
  border: 1px solid #00aec9;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
  text-shadow: 5px -5px 5px rgba(000, 000, 000, 0.2),
    0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-transition: -webkit-transform 0.5s, background-color 1s ease-in 0.5s;
  transition: transform 0.5s, background-color 0.7s ease-in 0.5s;
}

.skills li:hover {
  background-color: rgb(155, 157, 154);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/* CODE */

.code {
  color: turquoise;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #ffff00 43%,
    #ff0000 47%,
    #00bfff 45%,
    #0000ff 49%,
    #800080 52%,
    #fff 58%
  );
}
.code-example pre {
  background-color: black;
  margin-right: 0px;
  font-size: 1.2em;
  text-align: left;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #ffff00 19%,
    #ff0000 29%,
    #00bfff 33%,
    #0000ff 35%,
    #800080 36%,
    #fff 45%
  );
  animation: text-animate-rev 0.9s ease forwards;
}

.pre-color:hover {
  animation: text-animate 0.5s ease-in forwards;
}

@keyframes text-animate {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes text-animate-rev {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* EXPERIENCE */

.experience {
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  background-position: center;
  background-color: rgb(33, 40, 72);
  border-radius: 18px;
}

.experience h2 {
  text-align: center;
  color: #00ffff;
}

.experience p {
  color: #fff;
}

/* LANGUAGES */

.languages {
  width: 28%;
  margin-left: 550px;
  margin-top: 30px;
  background-image: url(../images/demo-1-bg.jpg);
  padding: 50px 20px;
  border: 1px dotted rgb(255, 40, 3);
  border-top: 20px solid rgb(0, 39, 231);
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(241, 0, 0, 0.5);
  animation: bg 3s linear infinite;
  text-align: center;
  text-transform: uppercase;
}
.lang {
  margin: 0px 0px -29px;
  color: rgb(255, 169, 169);
  text-align: center;
  text-align: left;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 100;
  overflow: hidden;
}

.dropping-texts {
  display: inline-flex;
  width: 180px;
  margin-bottom: 25px;
  margin-left: 90px;
  color: white;
  font-size: 23px;
  height: 36px;
  vertical-align: -2px;
}
.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  padding-bottom: 15px;
  text-align: end;
  margin-left: -90px;
  position: absolute;
  font-weight: 300;
  box-shadow: 0px 60px 25px -20px rgba(252, 250, 255, 0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  37% {
    font-size: 0px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: 900px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

/* .languages h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  margin: 0;
}

.languages ul {
  text-transform: uppercase;
}
.eng {
  color: red;
}

.elemen {
  color: rgb(223, 149, 80);
}

.turk {
  color: tomato;
}
.fluent {
  color: gray;
}
.rus {
  color: rgb(128, 128, 236);
}
.average {
  color: aqua;
}
.kgz {
  color: yellow;
}
.ozduk {
  color: rgb(255, 4, 4);
} */

/* EDUCATION */

.education {
  background-color: black;
  background-size: 100%;
  background-image: url(../images/kosmos.png);
  background-position: center;
  width: 40%;
  margin-left: 480px;
  border-radius: 50px;
  padding: 50px 20px;
  border: 1px dotted rgb(255, 40, 3);
  border-top: 20px solid crimson;
  box-shadow: 15px 15px 15px cyan;
  margin-top: 40px;
}

.education h2 {
  color: white;
  text-align: center;
}
.education li {
  text-transform: uppercase;
  color: white;
}
.education b {
  color: red;
}

/* footer */

.footer {
  background-color: #030303;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 0;
  margin-top: 40px;
}

.footer a {
  color: hsl(0, 100%, 50%);
  margin: 0px 40px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    45deg,
    #ffb701 25%,
    #0ad2ff 35%,
    #00ffbbba 45%,
    #c8ff00f5 65%,
    rgb(148, 0, 228) 80%
  );

  animation: text-animate-rev 0.75s ease forwards;
}

.text-color:hover {
  animation: text-animate 0.5s ease-in forwards;
}

@keyframes text-animate {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes text-animate-rev {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
